.gradle/
.kotlin/
.idea/
**/build/
local.properties
*.iml
.DS_Store
._*
*.jks
*.keystore
*.p12
*.pfx
*.p7b
*.pem
*.key
*.cer
app/google-services.json
.env
.env.local
site/
vendor/
iosApp/Pods/
iosApp/*.xcworkspace/
iosApp/**/*.xcuserdata/
iosApp/**/*.xcuserdatad/
**/.hvigor/
**/.cxx/
**/.test/
**/oh_modules/
**/.ohpmrc
ohosApp/oh-package-lock.json5
network-ohos/include/libshared_api.h
network-ohos/libs/
ohosApp/entry/libs/
ohosApp/entry/src/main/cpp/thirdparty/biz_entry/libshared_api.h
ohosApp/entry/src/main/resources/rawfile/assets/
